@import "~bootstrap/scss/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.project-detail-container {
    height: 80vh;
  }

  .project-container{
      height: 75vh;
  }
  
  .project-box:hover {
    background-color: rgba(255, 255, 255, 0.795) !important;
    color: #211a23;
    cursor: pointer;
  }

  .project-box:hover .project-title,
  .project-box:hover .stack,
  .project-box:hover .demo {
    color: #211a23;
  }

  .project-box {
    height: 100%;
    border-bottom: 1px dotted white !important;
    /* cursor: crosshair; */
    background-color: #212529 !important;
    border-radius: 0% !important;
    padding: 2px !important;
  }

h1{
    font-family: 'Press Start 2P', cursive;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-color: #212529;
    color: #4AF626;
    overflow-x: hidden;
    font-family: 'Montserrat', cursive;

}
html {
	
	scroll-behavior: smooth;
}



@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

    .project-detail-container {
        height: auto;
        object-fit: contain;
      }

    .projects{
        width: 100%;
    }

    .accordion-button{
        flex-direction: column;

    }

    .project-container,.project-list{
        width: 95vw;
    }

    .accordion-button::after{
        display: none;
    }

    .padding-margin{
        margin: 0 ;
        padding: 0 ;
    }


    .m-6{
        margin-top: 200px;
    }

    .sprite{
        height: 5rem;
    }
    p{
        font-size: 0.75em;
    }
    section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 25px 1vw;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }

    .typewriter h1 {
        display: flex;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: normal; /* Adjust as needed */
        line-height: 1.2;
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }
      
      .height100vh{
        height: 95vh;
    
      }
    
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(255, 255, 255); }
      }

}


@media (min-width:1281px) { /* hi-res laptops and desktops */ 

    .project-detail-container {
        height: auto;
        object-fit: contain;
      }

    .projects{
        width: 95vh;
    }

    .accordion-button{
        flex-direction: column;
        
    }

    .project-container,.project-list{
        width: 50vw;
    }

    .accordion-button::after{
        display: none;
    }
    
    .padding-margin{
        padding: 20px;
        margin: 20px;
    }

    .sprite{
        height: 10rem;
    }

    p{
        font-size: 1em;
    }
    
    section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 100px 10vh 50px 10vh;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .typewriter h1 {
        display: flex;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: normal; /* Adjust as needed */
        line-height: 1.2;
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }
      
      .height100vh{
        height: 90vh;
    
      }
    
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(255, 255, 255); }
      }
}




@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}
}

.navbar-nav{
    margin: 0 !important;
}


h4{
    border-bottom: rgb(255, 255, 255) solid 1px;

}


.list-group-item{
    color: #4AF626 !important;
    background-color: purple;
}



a.nav-link{
    transition: color font-size 2s;
}

a.nav-link:hover{
    color: #4AF626 !important;
    font-size: 1.2rem;
}

