@import "~bootstrap/scss/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');




@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

#tsparticles{
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}


.blinking {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.card{
    background-color: #4AF626 ;
}

.project-detail-container {
    display: flex;
    flex-direction: column;
    
  }

  .project-container{
      height: 75vh;
  }
  
  .project-box:hover {
    background-color: rgba(255, 255, 255, 0.795) !important;
    color: #211a23;
    cursor: pointer;
  }

  .project-box:hover .project-title,
  .project-box:hover .stack,
  .project-box:hover .demo {
    color: #211a23;
  }

  .project-box {
    height: 100%;
    border-bottom: 1px dotted white !important;
    /* cursor: crosshair; */
    background-color: #212529 !important;
    border-radius: 0% !important;
    padding: 2px !important;
  }

h1{
    font-family: 'Audiowide', cursive;
    font-size: clamp(1rem, 10vw, 2rem); 
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-color: #212529;
    color: #4AF626;
    overflow-x: hidden;
    font-family: 'Montserrat', cursive;
    text-shadow: 0 0 5px #c8c8c8c2;


}

.overflow-auto{
    overflow-x: auto;
}

.fab{
    font-size: 2em;
}

a{
    color: white;
}

a:hover{
    
    color: #4AF626;
}



// body::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background: repeating-linear-gradient(
//       0deg,
//       rgba(black, 0.15),
//       rgba(black, 0.15) 1px,
//       transparent 1px,
//       transparent 2px
//     );
//   }
html {
	
	scroll-behavior: smooth;
}



@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

    .contact-card{
        min-width: 20rem;
        
        
    }

    .mbottom{
        margin-bottom: 35vh;
    }

    // #app > div > div > div:nth-child(6) > div > section > div:nth-child(3) > div:nth-child(2) > div{
    //     width: 45vw;
    // }

    // #app > div > div > div:nth-child(6) > div > section > div:nth-child(3) > div:nth-child(1) > div{
    //     width: 45vw;
    // }

    p{
        font-size: 1.2em;
        color: rgb(230, 230, 230);
    }

    .project-detail-container {
        object-fit: contain;
      }

    .projects{
        width: 100%;
    }

    .card-body{
        background-color: #212529;
    }

    .accordion-button{
        flex-direction: column;
        background-color: #212529;
        color: #4AF626;
    }

    .accordion-button:not(.collapsed) {
        color: white;
        background-color: #212529;

        box-shadow: 0px 5px 0px 0px #4AF626, 0px 10px 0px 0px #49f626de, 0px 15px 0px 0px #acff9c, 0px 20px 0px 0px #cef8c6, 0px 25px 0px 0px #eaffe6, 0px 5px 15px 5px rgba(0,0,0,0);
    }
    .project-container,.project-list{
        width: 95vw;
        overflow-y: auto;
    }

    .accordion-button::after{
        display: none;
    }

    .padding-margin{
        margin: 0 ;
        padding: 0 ;
    }


    .m-6{
        margin-top: 200px;
    }

    .sprite{
        height: 5rem;
    }
    
    section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 25px 1vw;
    }

    .hero-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    

}


@media (min-width:1281px) { /* hi-res laptops and desktops */ 

    .contact-card{
        min-width: 30rem
    }


    .mbottom{
        margin-bottom: 0;
        justify-content: space-around;
    }


    p{
        font-size: 1.5em;
        color: rgb(230, 230, 230);
    }

    .project-detail-container {
        height: 100%;
        object-fit: contain;
      }

    // .projects{
    //     width: 95vh;
    // }

    .accordion-button{
        flex-direction: column;
        
    }

    .project-container,.project-list{
        width: 90vw;
        overflow-y: auto;
    }

    .accordion-button::after{
        display: none;
    }
    
    .padding-margin{
        padding: 20px;
        margin: 20px;
    }

    .sprite{
        height: 10rem;
    }

    
    
    section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 100px 10vh 50px 10vh;
    }

    .hero-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    
}




@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}
}

.navbar-nav{
    margin: 0 !important;
}


h2{
    border-bottom: rgb(255, 255, 255) solid 1px;
    padding: 0.8em;
    font-family: 'Audiowide', cursive;
    font-size: clamp(1rem, 10vw, 1.5rem); 
}


.list-group-item{
    color: #4AF626 !important;
    background-color: purple;
}



a.nav-link{
    transition: color font-size 2s;
}

a.nav-link:hover{
    color: #4AF626 !important;
    font-size: 1.2rem;
}

